# ASP.NET Core (.NET Framework)
# Build and test ASP.NET Core projects targeting the full .NET Framework.
# Add steps that publish symbols, save build artifacts, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/dotnet-core

trigger:
- master

pool:
  vmImage: 'windows-latest'

variables:
  solution: '**/Senparc.Xncf.WeixinManager.sln'
  buildPlatform: 'Any CPU'
  buildConfiguration: 'Release'

steps:

# - task: NuGetCommand@2
#   inputs:
#     command: 'restore'
#     restoreSolution: '**/Senparc.Xncf.WeixinManager.sln'
#     feedsToUse: 'select'

- task: UseDotNet@2
  displayName: 'Use .NET SDK 5'
  inputs:
    version: '5.0.x'
    packageType: 'sdk'
    
- task: DotNetCoreCLI@2
  displayName: Build
  inputs:
    command: build
    projects: '**/Senparc.Xncf.WeixinManager.sln'
    arguments: '--configuration Release'

- task: NuGetToolInstaller@1
  displayName: 'Use NuGet 5.2.0'
  inputs:
    versionSpec: 5.2.0
    checkLatest: true
    

- task: NuGetCommand@2
  inputs:
    command: 'push'
    packagesToPush: '$(Build.ArtifactStagingDirectory)/**/*.nupkg;!$(Build.ArtifactStagingDirectory)/**/*.symbols.nupkg'
    nuGetFeedType: 'external'
    publishFeedCredentials: 'nuget-jeffrey-full-key'
